html 
head 
style
            include ../public/style/home.css
title home
body 
|
  
ul
  li
    a(href='/') Home
  li
    a(href='services') services
  li
    a(href='contact') Contact
  head
  title Faith Art | Home
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='art.css')
  link(rel='icon' type='image/x-icon' href='pictures/ribbon.png')
div
  header
    h1 Faith Art
  
.wrapper
  main
    br
    br
    #homePagebox
      #anthony
        #socialMedia
          ol
            a(href='https://instagram.com')
              li#insta
            br
            a(href='https://tumblr.com/')
              li#tumblr
            br
            a(href='https://www.youtube.com')
              li#youtube
        img(src='https://i.imgur.com/WRe0cLr.jpg' alt='Anthony')
