html 
head 

style
            include ../public/style/services.css
title services
body 
ul
  li
    a(href='/') Home
  li
    a(href='services') services
  li
    a(href='contact') Contact

.container
  .details
    h2 Services
    p Our company offer web design and development
  .main-box
    .box.box-grey
      .icon
        i.fas.fa-desktop
      h2 Web Design
      hr
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda labore.
      a(href='#') Read More
    .box.box-red
      .icon
        i.fas.fa-globe
      h2 Web Design
      hr
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda labore.
      a.white-border(href='#') Read More
    .box.box-grey
      .icon
        i.fas.fa-search
      h2 Web Design
      hr
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda labore.
      a(href='#') Read More
